# Segmenting and Clustering Neighborhoods in Toronto

## Applied Data Science Capstone Week 3 Project
### Part 2 - Add Coordinates to The Dataframe

---

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

print('Libraries imported.')

Libraries imported.

In [2]:
#Read in the dataset created in part 1 using pd.read_csv
Toronto_df = pd.read_csv('Toronto_FSAs.csv')

In [3]:
#check the shape of the dataframe & review the first 5 rows
print (Toronto_df.shape)
Toronto_df.head()

(103, 3)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [4]:
#Download coordinates of each postal code.
!wget -q -O 'Geospatial_Coordinates.csv' https://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [5]:
df_coord = pd.read_csv('Geospatial_Coordinates.csv')
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
df_coord.shape

(103, 3)

In [7]:
df_coord.rename(columns={'Postal Code':'Postcode'}, inplace = True)
df_coord.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [8]:
Toronto_pc = Toronto_df.merge(df_coord, how = 'right', on = 'Postcode' )
Toronto_pc.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [9]:
Toronto_pc.shape

(103, 5)

In [10]:
Toronto_pc.to_csv('Toronto_Postalcode.csv', index = False)